<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edumin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="/public/css/style.css" rel="stylesheet">

</head>

<body >
    <div class="card">
        <div class="card-header" style="background-color: #262932;">
            <h5 class="card-title" style="color: #fff;">Basic Info</h5>
        </div>
        <div class="card-body">
            <form action="#" method="post">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">First Name</label>
                            <input type="text" class="form-control" style="background-color: #262932; border: 2px solid #383c45; color: #fff;">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Last Name</label>
                            <input type="text" class="form-control" style="background-color: #262932; border: 2px solid #383c45; color: #fff;">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Email Here</label>
                            <input type="text" class="form-control" style="background-color: #262932; border: 2px solid #383c45; color: #fff;">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Joining Date</label>
                            <input name="datepicker" class="datepicker-default form-control picker__input" id="datepicker" style="background-color: #262932; border: 2px solid #383c45; color: #fff;" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="datepicker_root"><div class="picker" id="datepicker_root" aria-hidden="true"><div class="picker__holder" tabindex="-1"><div class="picker__frame"><div class="picker__wrap"><div class="picker__box"><div class="picker__header"><div class="picker__month">July</div><div class="picker__year">2023</div><div class="picker__nav--prev" data-nav="-1" role="button" aria-controls="datepicker_table" title="Previous month"> </div><div class="picker__nav--next" data-nav="1" role="button" aria-controls="datepicker_table" title="Next month"> </div></div><table class="picker__table" id="datepicker_table" role="grid" aria-controls="datepicker" aria-readonly="true"><thead><tr><th class="picker__weekday" scope="col" title="Sunday">Sun</th><th class="picker__weekday" scope="col" title="Monday">Mon</th><th class="picker__weekday" scope="col" title="Tuesday">Tue</th><th class="picker__weekday" scope="col" title="Wednesday">Wed</th><th class="picker__weekday" scope="col" title="Thursday">Thu</th><th class="picker__weekday" scope="col" title="Friday">Fri</th><th class="picker__weekday" scope="col" title="Saturday">Sat</th></tr></thead><tbody><tr><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687640400000" role="gridcell" aria-label="25 June, 2023">25</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687726800000" role="gridcell" aria-label="26 June, 2023">26</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687813200000" role="gridcell" aria-label="27 June, 2023">27</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687899600000" role="gridcell" aria-label="28 June, 2023">28</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687986000000" role="gridcell" aria-label="29 June, 2023">29</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1688072400000" role="gridcell" aria-label="30 June, 2023">30</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688158800000" role="gridcell" aria-label="1 July, 2023">1</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688245200000" role="gridcell" aria-label="2 July, 2023">2</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688331600000" role="gridcell" aria-label="3 July, 2023">3</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688418000000" role="gridcell" aria-label="4 July, 2023">4</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688504400000" role="gridcell" aria-label="5 July, 2023">5</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688590800000" role="gridcell" aria-label="6 July, 2023">6</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688677200000" role="gridcell" aria-label="7 July, 2023">7</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688763600000" role="gridcell" aria-label="8 July, 2023">8</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688850000000" role="gridcell" aria-label="9 July, 2023">9</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688936400000" role="gridcell" aria-label="10 July, 2023">10</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689022800000" role="gridcell" aria-label="11 July, 2023">11</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689109200000" role="gridcell" aria-label="12 July, 2023">12</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689195600000" role="gridcell" aria-label="13 July, 2023">13</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689282000000" role="gridcell" aria-label="14 July, 2023">14</div></td><td role="presentation"><div class="picker__day picker__day--infocus picker__day--today picker__day--highlighted" data-pick="1689368400000" role="gridcell" aria-label="15 July, 2023" aria-activedescendant="true">15</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689454800000" role="gridcell" aria-label="16 July, 2023">16</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689541200000" role="gridcell" aria-label="17 July, 2023">17</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689627600000" role="gridcell" aria-label="18 July, 2023">18</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689714000000" role="gridcell" aria-label="19 July, 2023">19</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689800400000" role="gridcell" aria-label="20 July, 2023">20</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689886800000" role="gridcell" aria-label="21 July, 2023">21</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689973200000" role="gridcell" aria-label="22 July, 2023">22</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690059600000" role="gridcell" aria-label="23 July, 2023">23</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690146000000" role="gridcell" aria-label="24 July, 2023">24</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690232400000" role="gridcell" aria-label="25 July, 2023">25</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690318800000" role="gridcell" aria-label="26 July, 2023">26</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690405200000" role="gridcell" aria-label="27 July, 2023">27</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690491600000" role="gridcell" aria-label="28 July, 2023">28</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690578000000" role="gridcell" aria-label="29 July, 2023">29</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690664400000" role="gridcell" aria-label="30 July, 2023">30</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690750800000" role="gridcell" aria-label="31 July, 2023">31</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1690837200000" role="gridcell" aria-label="1 August, 2023">1</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1690923600000" role="gridcell" aria-label="2 August, 2023">2</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1691010000000" role="gridcell" aria-label="3 August, 2023">3</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1691096400000" role="gridcell" aria-label="4 August, 2023">4</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1691182800000" role="gridcell" aria-label="5 August, 2023">5</div></td></tr></tbody></table><div class="picker__footer"><button class="picker__button--today" type="button" data-pick="1689368400000" disabled="" aria-controls="datepicker">Today</button><button class="picker__button--clear" type="button" data-clear="1" disabled="" aria-controls="datepicker">Clear</button><button class="picker__button--close" type="button" data-close="true" disabled="" aria-controls="datepicker">Close</button></div></div></div></div></div></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Password</label>
                            <input type="password" class="form-control" style="background-color: #262932; border: 2px solid #383c45; color: #fff;">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Confirm Password</label>
                            <input type="password" class="form-control" style="background-color: #262932; border: 2px solid #383c45; color: #fff;">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Mobile Number</label>
                            <input type="text" class="form-control" style="background-color: #262932; border: 2px solid #383c45; color: #fff;">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Gender</label>
                            <div class="dropdown bootstrap-select form-control"><select class="form-control" tabindex="-98">
                                <option value="Gender">Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Gender"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Gender</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Designation</label>
                            <input type="text" class="form-control" style="background-color: #262932; border: 2px solid #383c45; color: #fff;">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Department</label>
                            <div class="dropdown bootstrap-select form-control"><select class="form-control" tabindex="-98">
                                <option value="Department">Department</option>
                                <option value="html">HTML</option>
                                <option value="css">CSS</option>
                                <option value="javascript">JavaScript</option>
                                <option value="angular">Angular</option>
                                <option value="angular">React</option>
                                <option value="vuejs">Vue.js</option>
                                <option value="ruby">Ruby</option>
                                <option value="php">PHP</option>
                                <option value="asp">ASP.NET</option>
                                <option value="python">Python</option>
                                <option value="mysql">MySQL</option>
                            </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Department"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Department</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Date of Birth</label>
                            <input name="datepicker" class="datepicker-default form-control picker__input" id="datepicker1" style="border: 2px solid #383c45;" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="datepicker1_root"><div class="picker" id="datepicker1_root" aria-hidden="true"><div class="picker__holder" tabindex="-1"><div class="picker__frame"><div class="picker__wrap"><div class="picker__box"><div class="picker__header"><div class="picker__month">July</div><div class="picker__year">2023</div><div class="picker__nav--prev" data-nav="-1" role="button" aria-controls="datepicker1_table" title="Previous month"> </div><div class="picker__nav--next" data-nav="1" role="button" aria-controls="datepicker1_table" title="Next month"> </div></div><table class="picker__table" id="datepicker1_table" role="grid" aria-controls="datepicker1" aria-readonly="true"><thead><tr><th class="picker__weekday" scope="col" title="Sunday">Sun</th><th class="picker__weekday" scope="col" title="Monday">Mon</th><th class="picker__weekday" scope="col" title="Tuesday">Tue</th><th class="picker__weekday" scope="col" title="Wednesday">Wed</th><th class="picker__weekday" scope="col" title="Thursday">Thu</th><th class="picker__weekday" scope="col" title="Friday">Fri</th><th class="picker__weekday" scope="col" title="Saturday">Sat</th></tr></thead><tbody><tr><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687640400000" role="gridcell" aria-label="25 June, 2023">25</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687726800000" role="gridcell" aria-label="26 June, 2023">26</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687813200000" role="gridcell" aria-label="27 June, 2023">27</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687899600000" role="gridcell" aria-label="28 June, 2023">28</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1687986000000" role="gridcell" aria-label="29 June, 2023">29</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1688072400000" role="gridcell" aria-label="30 June, 2023">30</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688158800000" role="gridcell" aria-label="1 July, 2023">1</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688245200000" role="gridcell" aria-label="2 July, 2023">2</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688331600000" role="gridcell" aria-label="3 July, 2023">3</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688418000000" role="gridcell" aria-label="4 July, 2023">4</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688504400000" role="gridcell" aria-label="5 July, 2023">5</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688590800000" role="gridcell" aria-label="6 July, 2023">6</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688677200000" role="gridcell" aria-label="7 July, 2023">7</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688763600000" role="gridcell" aria-label="8 July, 2023">8</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688850000000" role="gridcell" aria-label="9 July, 2023">9</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1688936400000" role="gridcell" aria-label="10 July, 2023">10</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689022800000" role="gridcell" aria-label="11 July, 2023">11</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689109200000" role="gridcell" aria-label="12 July, 2023">12</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689195600000" role="gridcell" aria-label="13 July, 2023">13</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689282000000" role="gridcell" aria-label="14 July, 2023">14</div></td><td role="presentation"><div class="picker__day picker__day--infocus picker__day--today picker__day--highlighted" data-pick="1689368400000" role="gridcell" aria-label="15 July, 2023" aria-activedescendant="true">15</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689454800000" role="gridcell" aria-label="16 July, 2023">16</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689541200000" role="gridcell" aria-label="17 July, 2023">17</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689627600000" role="gridcell" aria-label="18 July, 2023">18</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689714000000" role="gridcell" aria-label="19 July, 2023">19</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689800400000" role="gridcell" aria-label="20 July, 2023">20</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689886800000" role="gridcell" aria-label="21 July, 2023">21</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1689973200000" role="gridcell" aria-label="22 July, 2023">22</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690059600000" role="gridcell" aria-label="23 July, 2023">23</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690146000000" role="gridcell" aria-label="24 July, 2023">24</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690232400000" role="gridcell" aria-label="25 July, 2023">25</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690318800000" role="gridcell" aria-label="26 July, 2023">26</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690405200000" role="gridcell" aria-label="27 July, 2023">27</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690491600000" role="gridcell" aria-label="28 July, 2023">28</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690578000000" role="gridcell" aria-label="29 July, 2023">29</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690664400000" role="gridcell" aria-label="30 July, 2023">30</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1690750800000" role="gridcell" aria-label="31 July, 2023">31</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1690837200000" role="gridcell" aria-label="1 August, 2023">1</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1690923600000" role="gridcell" aria-label="2 August, 2023">2</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1691010000000" role="gridcell" aria-label="3 August, 2023">3</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1691096400000" role="gridcell" aria-label="4 August, 2023">4</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1691182800000" role="gridcell" aria-label="5 August, 2023">5</div></td></tr></tbody></table><div class="picker__footer"><button class="picker__button--today" type="button" data-pick="1689368400000" disabled="" aria-controls="datepicker1">Today</button><button class="picker__button--clear" type="button" data-clear="1" disabled="" aria-controls="datepicker1">Clear</button><button class="picker__button--close" type="button" data-close="true" disabled="" aria-controls="datepicker1">Close</button></div></div></div></div></div></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="color: #fff;">Education</label>
                            <input type="text" class="form-control" style="background-color: #262932; border: 2px solid #383c45; color: #fff;">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group fallback w-100">
                            <input type="file" class="dropify" data-default-file="" style="color: #fff;">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn btn-light">Cencel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/dlabnav-init.js"></script>

</body>

</html>