<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edumin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/style.css">
	
	<!-- Pick date -->
    <link rel="stylesheet" href="/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="/vendor/pickadate/themes/default.date.css">

</head>

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edumin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Course General Information</h4>
                                    <form action="/dashboard/teacher/course/new-course" method="post" enctype="multipart/form-data">
                                        
                                        <div class="form-group">
                                            <label><strong>Thumbnail</strong></label>
                                            <input type="file" name="thumbnail" id="file_photo" class="form-control thumbnail" onchange="show_image(event)"/>
                                            <img id='output_image' class="my-3" width="80%" style="display: none;"/>
                                        </div>

                                        <div class="form-group">
                                            <label><strong>Title</strong></label>
                                            <input type="text" name="title" class="form-control title">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Price in SAR</strong> </label>
                                            <input type="number" name="price" class="form-control price" placeholder="200 SAR">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Keywords</strong> </label>
                                            <input type="text" name="type" class="form-control type" placeholder="cyber security, html/css">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>About The Course </strong> </label>
                                            <textarea name="about" id="" cols="30" rows="10" class="form-control about"></textarea>                                        </div>
                                        
                                        <div class="text-center">
                                            <button type="submit" id="submit" class="btn btn-primary">Next</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Save data in localStorage -->
    <script>
        const submit = document.querySelector('#submit');
        const thumbnail = document.querySelector('.thumbnail');
        const title     = document.querySelector('.title');
        const price     = document.querySelector('.price');
        const type      = document.querySelector('.type');
        const about     = document.querySelector('.about');
        
        // send info to server before saving it to check if its correct
        //save
        thumbnail.onblur = ()=> window.sessionStorage.setItem('thumbnail', thumbnail.files[0]);
        title.onblur = ()=> window.sessionStorage.setItem('title', title.value);
        price.onblur = ()=> window.sessionStorage.setItem('price', price.value);
        type.onblur = ()=> window.sessionStorage.setItem('type', type.value);
        about.onblur = ()=> window.sessionStorage.setItem('about', about.value);


        // insert inputs value from local storage on page load
        window.addEventListener('load', ()=> {
            thumbnail.files[0] = sessionStorage.getItem('thumbnail') || '';
            title.value = sessionStorage.getItem('title') || '';
            price.value = sessionStorage.getItem('price') || '';
            type.value = sessionStorage.getItem('type') || '';
            about.value = sessionStorage.getItem('about') || '';
        });


        // send data
        // fetch('/dashboard/teacher/course/new-course', {
        //     method : 'post',
        //     body : JSON.stringify({thumbnail, title, price, type, about})
        // })
        // .then(res => res.json())
        // .then(msg => {
        //     console.log(msg);
        // })
        
    </script>
    <!-- show image -->
    <script>
        function show_image(event){
            document.getElementById('output_image').style.display='block';
            var reader = new FileReader();
                reader.onload = function(){
                var output = document.getElementById('output_image');
                output.src = reader.result;
                output.style.display = 'Block';
                output.style.borderRadius = '5px';
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/dlabnav-init.js"></script>

</body>

</html>
</html>