
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edumin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="/css/style.css" rel="stylesheet">

</head>

<style>
    .upload-video{
        display: none;
    }
</style>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-7">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Upload Course</h4>
                                    <div action="/dashboard/teacher/course/upload-course" method="post" enctype="multipart/form-data">
                                        
                                        <div class="form-group">
                                            <button class="btn btn-primary"  onclick="addChapter()">
                                                <!-- <i class="fa-solid fa-plus"></i>-->
                                                Add Chapter
                                            </button>
                                            <div class="chapter1" >
                                                <h3>Chapter 1</h3>
                                                <input type="text" class="form-control" name="chapter" id="chapter1" value="chapter title">
                                                <div class="lessons">
                                                    <!-- <div class="btn my-2" onclick="addLesson()">
                                                        <i class="fa-solid fa-plus"></i>
                                                        Add Lesson
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
											<button onclick="sendData()" type="button" class="btn btn-primary">Save</button>
                                            <!-- add lesson button -->
                                            <button type="button" onclick="addLesson()" class="btn btn-primary">
                                                <i class="fa-solid fa-plus"></i>
                                                Add Lesson
                                            </button>
										</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    

    <!-- add lesson -->
    <script>
        const lessons = document.querySelector('.lessons');// all lessons will be listed in this div
        let lessonIndex = 0; // number of lessons
        addLesson();
        function addLesson(){
            lessonIndex++;
            let element = document.createElement('div');
            element.class = 'lesson';
            element.id= 'lesson' + lessonIndex
            element.innerHTML = `
            <div class="lesson${lessonIndex} py-3 ml-3"><a id="hideLessonBtn" onclick="hideLesson(${lessonIndex})">Hide lesson</a>
                <h4>Lesson ${lessonIndex}</h4>
                <div class="lessonContent${lessonIndex} ml-3">
                    <div class="title my-3">
                        <label for="lessonTitle">Title</label>
                        <input type="text" name="Title" id="Title${lessonIndex}" class="form-control">
                    </div>
                    <div class="content-type my-3">
                        <div class="selectType">
                            <label for="">Content Type</label>
                            <select  id='${lessonIndex}' name="typeOfContent" class="form-control typeOfContent${lessonIndex}" onchange="content(this.value, this.id)">
                                <option selected="" hidden>Content Type</option>
                                <option value="upload-video">Upload Video</option>
                                <option value="url">url</option>
                                <option value="text">Text</option>
                            </select>
                        </div>
                        <div class="content${lessonIndex} my-2"></div>
                                
                        <video id='video${lessonIndex}' src='' style="display: block; width: 100%; height: 100%;" onerror="this.style.display='none'" controls></video>
                    </div>
                    <div class="description my-3">
                        <label>Description</label>
                        <textarea class="form-control" name="description" id="description${lessonIndex}" cols="30" rows="7" placeholder="Resources, links etc.."></textarea> 
                    </div>
                </div>
                    
            </div>
            `
            lessons.appendChild(element);
        }
        
        // show field basied on select option
        function content(contentType, id){
            console.log('content type choosed');
            console.log(contentType);
            if(contentType == 'upload-video'){
                // document.querySelector('.upload-video').style.display = 'Block';
                
                document.querySelector('div.content' + id).innerHTML = `
                <input class="form-control" type="file" name="upload-video" onchange=
                '
                let file = this.files[0];
                        let blobURL = window.URL.createObjectURL(file);
                        console.log(blobURL);
                        document.querySelector("#video` + id + `").style.display = "block";
                        document.querySelector("#video` + id + `").src = blobURL;
                        '/>
                        `
                        return;
            }
            else if(contentType == 'url'){
                document.querySelector('div.content'+ id ).innerHTML = `
                <input type="url" placeholder="Video URL" class="form-control" name="contentType"/>
                `
                return;
            }
            else if (contentType == 'text'){
                document.querySelector('div.content'+id).innerHTML = `
                <textarea class="form-control" name="contentType" id="" cols="30" rows="10" placeholder="Write lesson content here">Write lesson content here</textarea>
                `
            }
        }
        
        function hideLesson(id) {
            if (document.querySelector(".lessonContent"+id).style.display == "none") {
                // document.querySelector("#hideIcon" + id).src = "images/show.png"
                document.querySelector(".lessonContent" + id).style.display = "block";
            } else {
                // document.querySelector("#hideIcon" + id).src = "images/hide.png"
                // document.querySelector('.hideLessonBtn').innerHTML = 'Show Lesson'
                document.querySelector(".lessonContent"+id).style.display = "none";

            }
        }

        //send data
        
          function sendData(){
            //get data from inputs
            const formData = new FormData();
            // let TitleT = document.querySelector(`#Title1`).value;
            // let typeOfContentT =   document.querySelector(`.typeOfContent1`).value;
            // let contentT =   document.querySelector(`.content1 input`).value
            // console.log(TitleT, typeOfContentT, contentT);
            console.log(lessonIndex)
            let data ={lessons:[]};
            for(let i=1; i <= lessonIndex; i++){
                
                let chapter =   document.querySelector('#chapter1').value;
                let Title =  document.querySelector(`#Title${i}`).value;
                let typeOfContent =   document.querySelector(`.typeOfContent${i}`).value;
                let content =   document.querySelector(`.content${i} input`).value ? document.querySelector(`.content${i} input`).value 
                : document.querySelector(`.content${i} textarea`).value?
                document.querySelector(`.content${i} textarea`).value
                :
                undefined;
                let uploadVideo = document.querySelector(`.content${i} input`).files?document.querySelector(`.content${i} input`).files[0] : undefined;
                let description = document.querySelector(`#description${i}`).value;

                data.lessons.push({chapter, Title, typeOfContent, content,"upload-video":uploadVideo, description});
                formData.append(`upload-video`, uploadVideo)
            }

            console.log(data)
            formData.append("data", JSON.stringify(data));
            console.log(formData)
            fetch('/dashboard/teacher/course/upload-course', {
                method : "POST",
                body : formData
            })
            .then(res => res.json())
            .then(data => console.log(data));
        }
    </script>
    
    <!-- show image -->
    
    
    <!-- Required vendors -->
    <script src="https://kit.fontawesome.com/9365a412c7.js" crossorigin="anonymous"></script>
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/dlabnav-init.js"></script>

</body>

</html>
</html>