<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Contact</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Contact Us</h4>
                                    <span id="response"></span>
                                    <form class="main-form" action="/contact" method="post">
                                        <div class="form-group">
                                            <label><strong>Name</strong></label>
                                            <input type="text" name="name" class="form-control" placeholder="your name">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Email</strong></label>
                                            <input type="email" name="email" class="form-control" placeholder="hello@example.com" value="<% if (email) { %>
                                            <%= email %>
                                            <% } %>">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Message</strong></label>
                                            <textarea name="message" class="form-control" id="" cols="30" rows="10" placeholder="your message..."></textarea>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/dlabnav-init.js"></script>

    <script>
        const alerts = document.querySelector('#response');
        const form = document.querySelector(".main-form");
        // form.addEventListener('submit',async (e) => {
        //     const 
        //     const response = await fetch('/contact');
        // })
    </script>

</body>

</html>