@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}












/* 

.wrapper{
    background-color:#111927 !important;
}

.nav-items{
    color : rgb(164, 177, 205) !important;
    font-weight: 400 !important;
    font-size: 16px;
    transform: translate(.7);

}
.nav-items:hover{
    color: #fff !important;
} */

