<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>add course</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/style.css">
	
    
	<!-- Pick date -->
    <link rel="stylesheet" href="/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="/vendor/pickadate/themes/default.date.css">

</head>

<body>
		
		<!-- side navbar -->
	<%- include('../../../components/teacherNavbar.ejs') %>
    
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" style=" background-color: #262932;color: #fff;">
            <!-- row -->
            <div class="container-fluid">
				    
                <div class="row page-titles mx-0" style="background-color: #262932;">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4 style="color: #fff;">Add Course</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">Courses</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">Add Course</a></li>
                        </ol>
                    </div>
                </div>
				
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header" style="background-color: #262932;">
								<h4 class="card-title" style="color: #fff;">Courses Details <small style="color: #8d8d8d;">(You can come back and change the details)</small></h4>

							</div>
							<div class="card-body">
								<div>
									<div class="">

                                        <div class="col-lg-6 col-md-6 col-sm-12 pb-3">
                                            <div class="form-group">
                                                <label class="form-label">Lesson Title <span style="color: red;">*</span></label>
                                                <input type="text" name="title" class="form-control title" style="background-color: #1d1e26;color: #fff; border: 1px solid #383c46;">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12 pb-3">
                                            <div class="form-group">
                                                <label class="form-label">
                                                    Lesson Thumbnail <small style="color: #8d8d8d;">Optional</small>
                                                </label>
                                                <input type="file" name="thumbnail" id="file_photo"
                                                class="form-control thumbnail" onchange="show_image(event)"  style="background-color: #1d1e26; border: 1px solid #383c46;"/>

                                                <!-- display image here -->
                                                <img id='output_image' class="my-3" width="80%" style="display: none;"/>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-12 pb-3">
											<div class="form-group">
                                                    <label for="">Upload Lesson <span style="color: red;">*</span></label>
                                                    <br>
                                                    <span style="color:#fff;"
                                                    class="btn btn-link" onclick="uploadLesson()">
                                                    <i class="fa-solid fa-file-circle-plus"></i> 
                                                    Add lesson
                                                    </span>
                                                    <span class="video-title"></span>
                                                    <video class="uploaded-video" height="" controls style="display: none;"></video>
											</div>
										</div>

										
										
										<div class="col-lg-12 col-md-12 col-sm-12 pb-3">
											<div class="form-group">
												<label class="form-label">Lesson Description <small style="color: #8d8d8d;">Optional</small></label>
												<textarea class="form-control about" name="about" rows="5" placeholder="URL, Links etc.." style="background-color: #1d1e26;color: #fff; border: 1px solid #383c46;"></textarea>
											</div>
										</div>
										
                                        <div class="form-check form-switch pb-3">
                                            <input class="form-check-input" type="checkbox" role="switch" id="viewable" checked>
                                            <label class="form-check-label" for="viewable">Viewable Lesson</label>
                                        </div>

                                          
										<div class="col-lg-12 col-md-12 col-sm-12">
											<button type="submit" class="btn btn-primary" onclick="sendData()">Save</button>
										</div>
									</div>
								</div>
							</div> 
						</div>
					</div> 
				</div>
				
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright" style="background-color: #262932;">
                <p style="color: #fff;">Copyright © Designed &amp; Developed by <a href="../index.htm" target="_blank">AlBrmagawi</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!-- upload files -->
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script>
        let content;

        function uploadLesson(){
            const client = filestack.init('AzwJYFLAmRqmR2098Y7hlz');
            const options = {
                fromSources: ["local_file_system","url","googledrive", "dropbox", "onedrive"],
                onFileUploadFinished(file) {
                    content = file;
                    console.log(content)
                    document.querySelector(".uploaded-video").style.display = "block";
                    document.querySelector(".uploaded-video").src = file.url;
                    document.querySelector(".video-title").innerHTML = file.filename
                }
            };
           client.picker(options).open();

        }
    </script>

	<!-- Save data in sessionStorage -->
    <script>
        const submit = document.querySelector('#submit');
        const thumbnail = document.querySelector('.thumbnail');
        const title     = document.querySelector('.title');
        const about     = document.querySelector('.about');
        const viewable  = document.querySelector('#viewable')
        // send info to server before saving it to check if its correct
        //save
        thumbnail.onblur = ()=> window.sessionStorage.setItem('thumbnail', thumbnail.files[0]);
        title.onblur = ()=> window.sessionStorage.setItem('title', title.value);
        about.onblur = ()=> window.sessionStorage.setItem('about', about.value);


        // insert inputs value from local storage on page load
        window.addEventListener('load', ()=> {
            thumbnail.files[0] = sessionStorage.getItem('thumbnail') || '';
            title.value = sessionStorage.getItem('title') || '';
            about.value = sessionStorage.getItem('about') || '';
        });
        
    </script>
    <!-- show image -->
    <script>
        function show_image(event){
            document.getElementById('output_image').style.display='block';
            var reader = new FileReader();
                reader.onload = function(){
                var output = document.getElementById('output_image');
                output.src = reader.result;
                output.style.display = 'Block';
                output.style.borderRadius = '5px';
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>


    <!-- send data -->
    <script>
        // send data
        function sendData(){
            const formData = new FormData();
            
            formData.append('course_id', '<%- id %>')
            formData.append('content',content.url);
            formData.append('thumbnail',thumbnail.files[0])
            formData.append('section', '<%- section %>');
            formData.append('title', title.value);
            formData.append('description', about.value);
            formData.append('viewable', viewable.checked);
            console.log(formData)

            // fetch(content.url)
            // .then(res => res.blob())
            // .then(async video => {
            //     const file = new File([video], content.filename, {type : video.type});
            //      console.log(file)
            // });

            fetch('/dashboard/teacher/course/upload-course', {
                method : "POST",
                body : formData
            })
            .then(res => res.json())
            .then(data => {
                console.log(data);
                if(data.success){
                    // clear session
                    sessionStorage.clear();
                    window.location.href = '/dashboard/teacher/course/<%= course_id %>/sections'; 

                }
            });

        }

    </script>

<script src="https://kit.fontawesome.com/9365a412c7.js" crossorigin="anonymous"></script>

    <!-- Required vendors -->
<script src="/vendor/global/global.min.js"></script>
	<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/custom.min.js"></script>
	<script src="/js/dlabnav-init.js"></script>

	<!-- Svganimation scripts -->
    <script src="/vendor/svganimation/vivus.min.js"></script>
    <script src="/vendor/svganimation/svg.animation.js"></script>
    <script src="/js/styleSwitcher.js"></script>
	
	<!-- pickdate -->
    <script src="/vendor/pickadate/picker.js"></script>
    <script src="/vendor/pickadate/picker.time.js"></script>
    <script src="/vendor/pickadate/picker.date.js"></script>
	
	<!-- Pickdate -->
    <script src="/js/plugins-init/pickadate-init.js"></script>
	
</body>
</html>