<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
        }
        body{
            background-color: #262932;
        }
        .app{
            background-color: #fff;
            width: 90%;
            max-width: 600px;
            margin: 100px auto 0;
            border-radius: 10px;
            padding: 30px;
        }
        .app h1{
            font-size: 25px;
            color: #001e4d;
            font-weight: 600;
            padding-bottom: 15px;
        }
        .app .quiz-info{
            border-bottom: 1px solid #ababab;
            padding-bottom: 30px;
        }
        .app .quiz-info .count span{
            font: bold;
            font-weight: 600;
        }
        .quiz {
            padding: 20px 0;
        }
        .quiz h2{
            font-size: 18px;
            font-weight: 600;
        }
        .quiz #answer-buttons .btn{
            background-color: #fff;
            color: #222;
            font-weight: 500;
            width: 100%;
            border: 1px solid #ababab;
            padding: 10px;
            margin: 10px 0;
            text-align: left;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.3s;
        }

        /* the effect will work as long as the btn not disabled */
        .quiz #answer-buttons .btn:hover:not([disabled]){
            background-color: #b8b8b8;
            /* color: #001e4d; */
            /* font-weight: 600; */
        }
        .btn:disabled{
            cursor: no-drop;
        }
        .quiz #next-btn{
            background-color: #001e4d;
            color: #fff;
            width: 150px;
            font-weight: 500;
            border: 0;
            padding: 10px;
            margin:  20px auto 0;
            border-radius: 4px;
            display: none;
            cursor: pointer;
        }

        .correct{
            background-color: #9aeabc;
        }
        .incorrect{
            background: #ff9393;
        }
    </style>
</head>
<body>
    <div class="app">
        <div class="quiz-info">
            <h1>OOP Quiz</h1>
            <div class="count"><small><span id="current-question">1</span> Out Of <span id="total-questions">10</span> Questions</small></div>
        </div>
        <div class="quiz">
            <h2 id="question">Question goes here</h2>
            <div id="answer-buttons">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
                <button class="btn">Answer 3</button>
                <button class="btn">Answer 4</button>
            </div>
            <button id="next-btn" >Next</button>
        </div>
    </div>


    <script>
        // console.log(JSON.parse('<%- quizzes %>'))
        const quizzes = JSON.parse('<%- quizzes %>');

        let questions = [];
        
        for(let i=0; i< quizzes.length; i++){
            let question = {
                question : quizzes[i].question,
                answers : questionAnswers(quizzes[i].answers.split(','), quizzes[i].correct_answer),
            }
            questions.push(question);
        }

        // make answers in an object
        function questionAnswers(question, correct_answer){
            let allanswers = []; // list of question answers
            question.forEach(answer => {
                    let Object = {
                        text : answer,
                        correct : answer == correct_answer ? true : false
                    }
                    allanswers.push(Object)
                    // console.log(answers)
                })
            return allanswers
        }
        console.log(questions)


        // const questions = [
        //     {
        //         question : "What does 'OOP' stands for",
        //         answers : [
        //             {text : 'Orange Of Peach', correct : false},
        //             {text : 'somthing', correct : false},
        //             {text : 'Object Orented Programming', correct : true},
        //             {text : 'Don\'t Know', correct : false},
                    
        //         ]
        //     },
        //     {
        //         question : "What does 'OOP' stands for",
        //         answers : [
        //             {text : 'Orange Of Peach', correct : false},
        //             {text : 'somthing', correct : false},
        //             {text : 'Object Orented Programming', correct : true},
        //             {text : 'Don\'t Know', correct : false},
                    
        //         ]
        //     },
        //     {
        //         question : "What does 'OOP' stands for",
        //         answers : [
        //             {text : 'Orange Of Peach', correct : false},
        //             {text : 'somthing', correct : false},
        //             {text : 'Object Orented Programming', correct : true},
        //             {text : 'Don\'t Know', correct : false},
                    
        //         ]
        //     },

        // ]
        
        //when you get json data from DB
        

        const questionElement = document.querySelector("#question");
        const currentSpanQuestionNum = document.querySelector('#current-question');// the span on the top
        const totalQuestions = document.querySelector('#total-questions')
        const answerBtns = document.getElementById("answer-buttons");
        const nextBtn = document.getElementById("next-btn");

        let currentQuestionIndex = 0;
        let score = 0;

        //start the quize function
        startQuiz();
        function startQuiz(){
            currentQuestionIndex = 0;
            score = 0;
            nextBtn.innerHTML = 'Next';
            totalQuestions.innerHTML = questions.length;
            showQuestion();
        }

        // show questions func
        function showQuestion(){
            resetForm();
            let currentQuestion = questions[currentQuestionIndex];
            let questionNum     = currentQuestionIndex + 1;
            currentSpanQuestionNum.innerHTML = questionNum;
            questionElement.innerHTML = questionNum + '. ' + currentQuestion.question;

            // show answers
            currentQuestion.answers.forEach(answer => {
                const btn = document.createElement('button');
                btn.innerHTML = answer.text;
                btn.classList.add('btn'); // to anable css style on the button
                answerBtns.appendChild(btn);

                // add true to dataset attrbuite if answer is correct
                if(answer.correct == true){
                    btn.dataset.correct = answer.correct;
                }
                // add event listener on choosing
                btn.addEventListener('click', (e)=> {
                    const selectedBtn = e.target;
                    const isCorrect = selectedBtn.dataset.correct === "true";
                    // check if choosing answer is the correct one
                    if(isCorrect){
                        selectedBtn.style.background = '#9aeabc'
                        selectedBtn.classList.add('correct');
                        score++ // incress the score if its correct 
                    }else{
                        selectedBtn.style.background = '#ff9393'
                        selectedBtn.classList.add('incorrect');
                    }

                    // show correct answer on select
                    Array.from(answerBtns.children).forEach(button => {
                        if(button.dataset.correct === "true"){
                            button.style.background = '#9aeabc'
                            button.classList.add('correct');
                        }
                        // disable all btns from choosing another option
                        button.disabled = true;
                    })
                    // show next button
                    nextBtn.style.display = 'block';
                })
            })
        }
        
        // on next button click
        nextBtn.addEventListener('click', e => {

            // make sure to not go beyond the questions list
            if(currentQuestionIndex < questions.length){
                handleNextBtn();
            }else {
                nextBtn.innerHTML = "start the quize again";
                startQuiz();
            }
        })

        // next btn
        function handleNextBtn(){
            currentQuestionIndex ++; // to get the next question
            // if we didn't go beyond questions show the next question
            if(currentQuestionIndex < questions.length){
                showQuestion()// show next question
            }else {
                showScore();
            }
        }

        // when quiz finished show score
        function showScore(){
            resetForm();
            questionElement.innerHTML = `
            You Scored 
            <span style="font: bold;font-weight: 600;">${score}</span> out of <span style="font: bold;font-weight: 600;">${questions.length}</span>`;
            nextBtn.innerHTML = 'Play Again';
            nextBtn.style.display= 'block'
        }


        function resetForm(){
            nextBtn.style.display = 'none';
            while(answerBtns.firstChild){
                answerBtns.removeChild(answerBtns.firstChild);
            }
        }
    </script>
</body>
</html>