<html lang="en" dir="ltr"><head>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edumin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/jqvmap/css/jqvmap.min.css">
	<link rel="stylesheet" href="/vendor/chartist/css/chartist.min.css">
	<link rel="stylesheet" href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/skin-2.css">

<style type="text/css">/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style><style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;box-sizing: content-box;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>

<body data-typography="roboto" data-theme-version="light" data-layout="vertical" data-nav-headerbg="color_11" data-headerbg="color_1" data-sidebar-style="overlay" data-sibebarbg="color_1" data-sidebar-position="fixed" data-header-position="fixed" data-container="wide" direction="ltr" data-primary="color_1">

    <!-- side navbar -->
	<%- include('../components/dashboardNavbar.ejs') %>
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" style="min-height: 876px;">
            <!-- row -->
            <div class="container-fluid">
			
                <div class="row">
					<div class="col-xl-3 col-xxl-3 col-sm-6">
						<div class="widget-stat card bg-primary overflow-hidden">
							<div class="card-header">
								<h3 class="card-title text-white">Total Students</h3>
								<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 422</h5>
							</div>
							<div class="card-body text-center mt-3">
								<div class="ico-sparkline">
									<div id="sparkline12"><canvas width="100" height="100" style="display: inline-block; width: 100px; height: 100px; vertical-align: top;"></canvas></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-3 col-sm-6">
						<div class="widget-stat card bg-success overflow-hidden">
							<div class="card-header">
								<h3 class="card-title text-white">New Students</h3>
								<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 357</h5>
							</div>
							<div class="card-body text-center mt-4 p-0">
								<div class="ico-sparkline">
									<div id="spark-bar-2"><canvas width="290" height="140" style="display: inline-block; width: 290px; height: 140px; vertical-align: top;"></canvas></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-3 col-sm-6">
						<div class="widget-stat card bg-secondary overflow-hidden">
							<div class="card-header pb-3">
								<h3 class="card-title text-white">Total Course</h3>
								<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 547</h5>
							</div>
							<div class="card-body p-0 mt-2">
								<div class="px-4"><span class="bar1" data-peity="{ &quot;fill&quot;: [&quot;rgb(0, 0, 128)&quot;, &quot;rgb(7, 135, 234)&quot;]}" style="display: none;">6,2,8,4,-3,8,1,-3,6,-5,9,2,-8,1,4,8,9,8,2,1</span><svg class="peity" height="140" width="100%"><rect data-value="6" fill="rgb(216, 196, 255)" x="0.6735" y="24.705882352941188" width="5.388" height="49.41176470588235"></rect><rect data-value="2" fill="rgb(216, 196, 255)" x="7.408499999999999" y="57.647058823529406" width="5.387999999999999" height="16.47058823529413"></rect><rect data-value="8" fill="rgb(216, 196, 255)" x="14.1435" y="8.235294117647072" width="5.387999999999998" height="65.88235294117646"></rect><rect data-value="4" fill="rgb(216, 196, 255)" x="20.8785" y="41.17647058823529" width="5.387999999999998" height="32.941176470588246"></rect><rect data-value="-3" fill="rgb(216, 196, 255)" x="27.613499999999995" y="74.11764705882354" width="5.388000000000005" height="24.70588235294116"></rect><rect data-value="8" fill="rgb(216, 196, 255)" x="34.348499999999994" y="8.235294117647072" width="5.388000000000005" height="65.88235294117646"></rect><rect data-value="1" fill="rgb(216, 196, 255)" x="41.083499999999994" y="65.88235294117646" width="5.388000000000005" height="8.235294117647072"></rect><rect data-value="-3" fill="rgb(216, 196, 255)" x="47.81849999999999" y="74.11764705882354" width="5.387999999999998" height="24.70588235294116"></rect><rect data-value="6" fill="rgb(216, 196, 255)" x="54.5535" y="24.705882352941188" width="5.387999999999998" height="49.41176470588235"></rect><rect data-value="-5" fill="rgb(216, 196, 255)" x="61.288499999999985" y="74.11764705882354" width="5.388000000000019" height="41.17647058823529"></rect><rect data-value="9" fill="rgb(216, 196, 255)" x="68.02349999999998" y="0" width="5.388000000000019" height="74.11764705882354"></rect><rect data-value="2" fill="rgb(216, 196, 255)" x="74.7585" y="57.647058823529406" width="5.387999999999991" height="16.47058823529413"></rect><rect data-value="-8" fill="rgb(216, 196, 255)" x="81.4935" y="74.11764705882354" width="5.387999999999991" height="65.88235294117646"></rect><rect data-value="1" fill="rgb(216, 196, 255)" x="88.22849999999998" y="65.88235294117646" width="5.388000000000019" height="8.235294117647072"></rect><rect data-value="4" fill="rgb(216, 196, 255)" x="94.96349999999998" y="41.17647058823529" width="5.388000000000019" height="32.941176470588246"></rect><rect data-value="8" fill="rgb(216, 196, 255)" x="101.6985" y="8.235294117647072" width="5.388000000000005" height="65.88235294117646"></rect><rect data-value="9" fill="rgb(216, 196, 255)" x="108.43350000000001" y="0" width="5.387999999999977" height="74.11764705882354"></rect><rect data-value="8" fill="rgb(216, 196, 255)" x="115.1685" y="8.235294117647072" width="5.387999999999991" height="65.88235294117646"></rect><rect data-value="2" fill="rgb(216, 196, 255)" x="121.90350000000001" y="57.647058823529406" width="5.387999999999963" height="16.47058823529413"></rect><rect data-value="1" fill="rgb(216, 196, 255)" x="128.6385" y="65.88235294117646" width="5.388000000000005" height="8.235294117647072"></rect></svg>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-3 col-sm-6">
						<div class="widget-stat card bg-danger overflow-hidden">
							<div class="card-header pb-3">
								<h3 class="card-title text-white">Fees Collection</h3>
								<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 3280$</h5>
							</div>
							<div class="card-body p-0 mt-1">
								<span class="peity-line-2" data-width="100%" style="display: none;">7,6,8,7,3,8,3,3,6,5,9,2,8</span><svg class="peity" height="150" width="100%"><polygon fill="#ff3232" points="0 148.5 0 34.16666666666667 15.225 50.5 30.45 17.833333333333343 45.675 34.16666666666667 60.9 99.5 76.125 17.833333333333343 91.35 99.5 106.575 99.5 121.8 50.5 137.025 66.83333333333333 152.25 1.5 167.475 115.83333333333334 182.7 17.833333333333343 182.7 148.5"></polygon><polyline fill="none" points="0 34.16666666666667 15.225 50.5 30.45 17.833333333333343 45.675 34.16666666666667 60.9 99.5 76.125 17.833333333333343 91.35 99.5 106.575 99.5 121.8 50.5 137.025 66.83333333333333 152.25 1.5 167.475 115.83333333333334 182.7 17.833333333333343" stroke="#fac2c2" stroke-width="3" stroke-linecap="square"></polyline></svg>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-xxl-6 col-sm-6">
						<div class="card">
							<div class="card-header" style="background-color: #262932;">
								<h3 class="card-title" style="color: #fff;">Income/Expense Report</h3>
							</div>
							<div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
								<canvas id="barChart_2" style="display: block; height: 140px; width: 280px;" width="350" height="175" class="chartjs-render-monitor"></canvas>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-xxl-6 col-sm-6">
						<div class="card">
							<div class="card-header" style="background-color: #262932;">
								<h3 class="card-title" style="color: #fff;">Income/Expense Report</h3>
							</div>
							<div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
								 <canvas id="areaChart_1" width="350" height="175" style="display: block; height: 140px; width: 280px;" class="chartjs-render-monitor"></canvas>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-xxl-8 col-lg-8 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #262932;">
                                <h5 class="card-title" style="color: #fff;">Assign Task</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table header-border table-hover verticle-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="color: #fff;">#</th>
                                                <th scope="col" style="color: #fff;">Task</th>
                                                <th scope="col" style="color: #fff;">Assigned Professors</th>
                                                <th scope="col" style="color: #fff;">Status</th>
                                                <th scope="col" style="color: #fff;">Progress</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th style="color: #fff;">1</th>
                                                <td style="color: #fff;">Working Design report</td>
                                                <td style="color: #fff;">Herman Beck</td>
                                                <td><span class="badge badge-rounded badge-primary">DONE</span></td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 70%;" role="progressbar">
															<span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="color: #fff;">2</th>
                                                <td style="color: #fff;">Fees Collection report</td>
												<td style="color: #fff;">Emma Watson</td>
												<td><span class="badge badge-rounded badge-warning">Panding</span></td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" style="width: 70%;" role="progressbar">
															<span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="color: #fff;">3</th>
                                                <td style="color: #fff;">Management report</td>
												<td style="color: #fff;">Mary Adams</td>
												<td><span class="badge badge-rounded badge-warning">Panding</span></td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" style="width: 70%;" role="progressbar">
															<span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="color: #fff;">4</th>
                                                <td style="color: #fff;">Library book status</td>
												<td style="color: #fff;">Caleb Richards</td>
												<td><span class="badge badge-rounded badge-danger">Suspended</span></td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-danger" style="width: 70%;" role="progressbar">
															<span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="color: #fff;">5</th>
                                                <td style="color: #fff;">Placement status</td>
												<td style="color: #fff;">June Lane</td>
												<td><span class="badge badge-rounded badge-warning">Panding</span></td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" style="width: 70%;" role="progressbar">
															<span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
											<tr>
                                                <th style="color: #fff;">6</th>
                                                <td style="color: #fff;">Working Design report</td>
                                                <td style="color: #fff;">Herman Beck</td>
                                                <td><span class="badge badge-rounded badge-primary">DONE</span></td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 70%;" role="progressbar">
															<span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #262932;">
                                <h4 class="card-title" style="color: #fff;">Notifications</h4>
                            </div>
                            <div class="card-body"> 
                                <div class="widget-todo dz-scroll ps ps--active-y" style="height:370px;" id="DZ_W_Notifications">
                                    <ul class="timeline">
                                        <li>
                                            <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted mb-3 d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Dr sultads Send you Photo</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge warning"></div>
                                            <a class="timeline-panel text-muted mb-3 d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Resport created successfully</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge danger"></div>
                                            <a class="timeline-panel text-muted mb-3 d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Reminder : Treatment Time!</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
										<li>
                                            <div class="timeline-badge success"></div>
											<a class="timeline-panel text-muted mb-3 d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Dr sultads Send you Photo</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge warning"></div>
											<a class="timeline-panel text-muted mb-3 d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Resport created successfully</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge dark"></div>
                                            <a class="timeline-panel text-muted mb-3 d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Reminder : Treatment Time!</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge info"></div>
                                            <a class="timeline-panel text-muted mb-3 d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Dr sultads Send you Photo</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
										<li>
                                            <div class="timeline-badge danger"></div>
                                            <a class="timeline-panel text-muted mb-3 d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Resport created successfully</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge success"></div>
                                            <a class="timeline-panel text-muted mb-3 d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Reminder : Treatment Time!</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
										<li>
                                            <div class="timeline-badge warning"></div>
											<a class="timeline-panel text-muted d-flex align-items-center" href="javascript:void(0);">
                                                <img class="rounded-circle" alt="image" width="50" src="/images/profile/education/Avatar.png">
												<div class="col">
													<h5 class="mb-1" style="color: #fff;">Dr sultads Send you Photo</h5>
													<small class="d-block" style="color: #fff;">29 July 2020 - 02:26 PM</small>
												</div>
											</a>
                                        </li>
                                    </ul>
                                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 370px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 212px;"></div></div></div>
                            </div>
						</div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
							<div class="card-header" style="background-color: #262932;">
                                <h4 class="card-title" style="color: #fff;">New Student List </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-sm mb-0 table-striped">
                                        <thead>
                                            <tr>
												<th class="px-5 py-3" style="color: #fff;">Name</th>
                                                <th class="py-3" style="color: #fff;">Assigned Professor</th>
                                                <th class="py-3" style="color: #fff;">Branch</th>
                                                <th class="py-3" style="color: #fff;">Status</th>
                                                <th class="py-3" style="color: #fff;">Date Of Admit</th>
                                                <th class="py-3" style="color: #fff;">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody id="customers">
                                            <tr class="btn-reveal-trigger">
                                                <td class="p-3">
                                                    <a href="javascript:void(0);">
                                                        <div class="media d-flex align-items-center">
                                                            <div class="avatar avatar-xl mr-2">
                                                                <img class="rounded-circle img-fluid" src="/images/avatar/5.png" width="30" alt="">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mb-0 fs--1" style="color: #fff;">Ricky Antony</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="py-2" style="color: #fff;">Herman Beck</td>
                                                <td class="py-2" style="color: #fff;">Mechanical</td>
                                                <td><span class="badge badge-rounded badge-primary">DONE</span></td>
                                                <td class="py-2" style="color: #fff;">30/03/2018</td>
                                                <td>
                                                    <a href="edit-student.html" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="btn-reveal-trigger">
                                                <td class="p-3">
                                                    <a href="javascript:void(0);">
                                                        <div class="media d-flex align-items-center">
                                                            <div class="avatar avatar-xl mr-2">
                                                                <img class="rounded-circle img-fluid" src="/images/avatar/1.png" alt="" width="30">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mb-0 fs--1" style="color: #fff;">Emma Watson</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="py-2" style="color: #fff;">Emma Watson</td>
                                                <td class="py-2" style="color: #fff;">Computer</td>
                                                <td><span class="badge badge-rounded badge-warning">Panding</span></td>
                                                <td class="py-2" style="color: #fff;">11/07/2017</td>
                                                <td>
                                                    <a href="edit-student.html" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="btn-reveal-trigger">
                                                <td class="p-3">
                                                    <a href="javascript:void(0);">
                                                        <div class="media d-flex align-items-center">
                                                            <div class="avatar avatar-xl mr-2">
                                                                <img class="rounded-circle img-fluid" src="/images/avatar/5.png" width="30" alt="">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mb-0 fs--1" style="color: #fff;">Rowen Atkinson</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="py-2" style="color: #fff;">Mary Adams</td>
                                                <td class="py-2" style="color: #fff;">Mechanical</td>
                                                <td><span class="badge badge-rounded badge-primary">DONE</span></td>
                                                <td class="py-2" style="color: #fff;">05/04/2016</td>
                                                <td>
                                                    <a href="edit-student.html" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="btn-reveal-trigger">
                                                <td class="p-3">
                                                    <a href="javascript:void(0);">
                                                        <div class="media d-flex align-items-center">
                                                            <div class="avatar avatar-xl mr-2">
                                                                <img class="rounded-circle img-fluid" src="/images/avatar/1.png" alt="" width="30">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mb-0 fs--1" style="color: #fff;">Antony Hopkins</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="py-2" style="color: #fff;">Caleb Richards </td>
                                                <td class="py-2" style="color: #fff;">Computer </td>
                                                <td><span class="badge badge-rounded badge-danger">Suspended</span></td>
                                                <td class="py-2" style="color: #fff;">05/04/2018</td>
                                                <td>
                                                    <a href="edit-student.html" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="btn-reveal-trigger">
                                                <td class="p-3">
                                                    <a href="javascript:void(0);">
                                                        <div class="media d-flex align-items-center">
                                                            <div class="avatar avatar-xl mr-2">
                                                                <img class="rounded-circle img-fluid" src="/images/avatar/1.png" alt="" width="30">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mb-0 fs--1" style="color: #fff;">Jennifer Schramm</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="py-2" style="color: #fff;">June Lane</td>
                                                <td class="py-2" style="color: #fff;">Fees Collection</td>
                                                <td><span class="badge badge-rounded badge-warning">Panding</span></td>
                                                <td class="py-2" style="color: #fff;">17/03/2016</td>
                                                <td>
                                                    <a href="edit-student.html" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="btn-reveal-trigger">
                                                <td class="p-3">
                                                    <a href="javascript:void(0);">
                                                        <div class="media d-flex align-items-center">
                                                            <div class="avatar avatar-xl mr-2">
                                                                <img class="rounded-circle img-fluid" src="/images/avatar/5.png" width="30" alt="">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mb-0 fs--1" style="color: #fff;">Raymond Mims</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="py-2" style="color: #fff;">Herman Beck</td>
                                                <td class="py-2" style="color: #fff;">Computer</td>
                                                <td><span class="badge badge-rounded badge-danger">Suspended</span></td>
                                                <td class="py-2" style="color: #fff;">12/07/2014</td>
                                                <td>
                                                    <a href="edit-student.html" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="btn-reveal-trigger">
                                                <td class="p-3">
                                                    <a href="javascript:void(0);">
                                                        <div class="media d-flex align-items-center">
                                                            <div class="avatar avatar-xl mr-2">
                                                                <img class="rounded-circle img-fluid" src="/images/avatar/1.png" alt="" width="30">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mb-0 fs--1" style="color: #fff;">Michael Jenkins</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="py-2" style="color: #fff;">Jennifer Schramm</td>
                                                <td class="py-2" style="color: #fff;">Mechanical</td>
                                                <td><span class="badge badge-rounded badge-warning">Panding</span></td>
                                                <td class="py-2" style="color: #fff;">15/06/2014</td>
                                                <td>
                                                    <a href="edit-student.html" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer" style="background-color: #262932;">
            <div class="copyright">
                <p style="color: #fff;">Copyright © Designed &amp; Developed by <a href="../index.htm" target="_blank">AlBrmagawi</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
<script src="/vendor/global/global.min.js"></script>
	<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/custom.min.js"></script>
	<script src="/js/dlabnav-init.js"></script>

    <!-- Chart ChartJS plugin files -->
    <script src="/vendor/chart.js/Chart.bundle.min.js"></script>
	
	<!-- Chart piety plugin files -->
    <script src="/vendor/peity/jquery.peity.min.js"></script>
	
	<!-- Chart sparkline plugin files -->
    <script src="/vendor/jquery-sparkline/jquery.sparkline.min.js"></script>
	
		<!-- Demo scripts -->
    <script src="/js/dashboard/dashboard-3.js"></script>
	
	<!-- Svganimation scripts -->
    <script src="/vendor/svganimation/vivus.min.js"></script>
    <script src="/vendor/svganimation/svg.animation.js"></script>
    <script src="/js/styleSwitcher.js"></script><div class="sidebar-right"><a class="sidebar-right-trigger wave-effect wave-effect-x" href="javascript:void(0)"><span><i class="fa fa-cog fa-spin"></i></span></a><div class="sidebar-right-inner ps ps--active-y"><div class="tab-content tab-content-default tabcontent-border"><div class="tab-pane fade active show" id="home8" role="tabpanel"><div class="admin-settings"><h4>Pick your style</h4><div><p>Background</p><div class="dropdown bootstrap-select form-control"><select class="form-control" name="theme_version" id="theme_version" tabindex="-98"><option value="light">Light</option><option value="dark">Dark</option></select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" data-id="theme_version" title="Light"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Light</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div></div><div><p>Background</p><div class="dropdown bootstrap-select form-control"><select class="form-control" name="theme_version" id="theme_version" tabindex="-98"><option value="light">Light</option><option value="dark">Dark</option></select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" data-id="theme_version" title="Light"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Light</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div></div><div><p>Layout</p><div class="dropdown bootstrap-select form-control"><select class="form-control" name="theme_layout" id="theme_layout" tabindex="-98"><option value="vertical">Vertical</option><option value="horizontal">Horizontal</option></select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" data-id="theme_layout" title="Vertical"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Vertical</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div></div><div><p>Sidebar</p><div class="dropdown bootstrap-select form-control"><select class="form-control" name="sidebar_style" id="sidebar_style" tabindex="-98"><option value="full">Full</option><option value="mini">Mini</option><option value="compact">Compact</option><option value="modern">Modern</option><option value="overlay">Overlay</option><option value="icon-hover">Icon-hover</option></select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" data-id="sidebar_style" title="Full"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Full</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div></div><div><p>Sidebar position</p><div class="dropdown bootstrap-select form-control"><select class="form-control" name="sidebar_position" id="sidebar_position" tabindex="-98"><option value="static">Static</option><option value="fixed">Fixed</option></select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" data-id="sidebar_position" title="Static"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Static</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div></div><div><p>Header position</p><div class="dropdown bootstrap-select form-control"><select class="form-control" name="header_position" id="header_position" tabindex="-98"><option value="static">Static</option><option value="fixed">Fixed</option></select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" data-id="header_position" title="Static"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Static</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div></div><div><p>Container</p><div class="dropdown bootstrap-select form-control"><select class="form-control" name="container_layout" id="container_layout" tabindex="-98"><option value="wide">Wide</option><option value="boxed">Boxed</option><option value="wide-boxed">Wide Boxed</option></select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" data-id="container_layout" title="Wide"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Wide</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div></div><div><p>Direction</p><div class="dropdown bootstrap-select form-control"><select class="form-control" name="theme_direction" id="theme_direction" tabindex="-98"><option value="ltr">LTR</option><option value="rtl">RTL</option></select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" data-id="theme_direction" title="LTR"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">LTR</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div></div><div><p>Body Font</p><div class="dropdown bootstrap-select form-control"><select class="form-control" name="typography" id="typography" tabindex="-98"><option value="roboto">Roboto</option><option value="poppins">Poppins</option><option value="opensans">Open Sans</option><option value="HelveticaNeue">HelveticaNeue</option></select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" data-id="typography" title="Roboto"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Roboto</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div></div><div><p>Navigation Header</p><div><span><input type="radio" name="navigation_header" value="color_1" class="filled-in chk-col-primary" id="nav_header_color_1"><label for="nav_header_color_1"></label></span> <span><input type="radio" name="navigation_header" value="color_2" class="filled-in chk-col-primary" id="nav_header_color_2"><label for="nav_header_color_2"></label></span> <span><input type="radio" name="navigation_header" value="color_3" class="filled-in chk-col-primary" id="nav_header_color_3"><label for="nav_header_color_3"></label></span> <span><input type="radio" name="navigation_header" value="color_4" class="filled-in chk-col-primary" id="nav_header_color_4"><label for="nav_header_color_4"></label></span> <span><input type="radio" name="navigation_header" value="color_5" class="filled-in chk-col-primary" id="nav_header_color_5"><label for="nav_header_color_5"></label></span> <span><input type="radio" name="navigation_header" value="color_6" class="filled-in chk-col-primary" id="nav_header_color_6"><label for="nav_header_color_6"></label></span> <span><input type="radio" name="navigation_header" value="color_7" class="filled-in chk-col-primary" id="nav_header_color_7"><label for="nav_header_color_7"></label></span> <span><input type="radio" name="navigation_header" value="color_8" class="filled-in chk-col-primary" id="nav_header_color_8"><label for="nav_header_color_8"></label></span> <span><input type="radio" name="navigation_header" value="color_9" class="filled-in chk-col-primary" id="nav_header_color_9"><label for="nav_header_color_9"></label></span> <span><input type="radio" name="navigation_header" value="color_10" class="filled-in chk-col-primary" id="nav_header_color_10"><label for="nav_header_color_10"></label></span> <span><input type="radio" name="navigation_header" value="color_11" class="filled-in chk-col-primary" id="nav_header_color_11"><label for="nav_header_color_11"></label></span> <span><input type="radio" name="navigation_header" value="color_12" class="filled-in chk-col-primary" id="nav_header_color_12"><label for="nav_header_color_12"></label></span> <span><input type="radio" name="navigation_header" value="color_13" class="filled-in chk-col-primary" id="nav_header_color_13"><label for="nav_header_color_13"></label></span> <span><input type="radio" name="navigation_header" value="color_14" class="filled-in chk-col-primary" id="nav_header_color_14"><label for="nav_header_color_14"></label></span> <span><input type="radio" name="navigation_header" value="color_15" class="filled-in chk-col-primary" id="nav_header_color_15"><label for="nav_header_color_15"></label></span></div></div><div><p>Header</p><div><span><input type="radio" name="header_bg" value="color_1" class="filled-in chk-col-primary" id="header_color_1"><label for="header_color_1"></label></span> <span><input type="radio" name="header_bg" value="color_2" class="filled-in chk-col-primary" id="header_color_2"><label for="header_color_2"></label></span> <span><input type="radio" name="header_bg" value="color_3" class="filled-in chk-col-primary" id="header_color_3"><label for="header_color_3"></label></span> <span><input type="radio" name="header_bg" value="color_4" class="filled-in chk-col-primary" id="header_color_4"><label for="header_color_4"></label></span> <span><input type="radio" name="header_bg" value="color_5" class="filled-in chk-col-primary" id="header_color_5"><label for="header_color_5"></label></span> <span><input type="radio" name="header_bg" value="color_6" class="filled-in chk-col-primary" id="header_color_6"><label for="header_color_6"></label></span> <span><input type="radio" name="header_bg" value="color_7" class="filled-in chk-col-primary" id="header_color_7"><label for="header_color_7"></label></span> <span><input type="radio" name="header_bg" value="color_8" class="filled-in chk-col-primary" id="header_color_8"><label for="header_color_8"></label></span> <span><input type="radio" name="header_bg" value="color_9" class="filled-in chk-col-primary" id="header_color_9"><label for="header_color_9"></label></span> <span><input type="radio" name="header_bg" value="color_10" class="filled-in chk-col-primary" id="header_color_10"><label for="header_color_10"></label></span> <span><input type="radio" name="header_bg" value="color_11" class="filled-in chk-col-primary" id="header_color_11"><label for="header_color_11"></label></span> <span><input type="radio" name="header_bg" value="color_12" class="filled-in chk-col-primary" id="header_color_12"><label for="header_color_12"></label></span> <span><input type="radio" name="header_bg" value="color_13" class="filled-in chk-col-primary" id="header_color_13"><label for="header_color_13"></label></span> <span><input type="radio" name="header_bg" value="color_14" class="filled-in chk-col-primary" id="header_color_14"><label for="header_color_14"></label></span> <span><input type="radio" name="header_bg" value="color_15" class="filled-in chk-col-primary" id="header_color_15"><label for="header_color_15"></label></span></div></div><div><p>Sidebar</p><div><span><input type="radio" name="sidebar_bg" value="color_1" class="filled-in chk-col-primary" id="sidebar_color_1"><label for="sidebar_color_1"></label></span> <span><input type="radio" name="sidebar_bg" value="color_2" class="filled-in chk-col-primary" id="sidebar_color_2"><label for="sidebar_color_2"></label></span> <span><input type="radio" name="sidebar_bg" value="color_3" class="filled-in chk-col-primary" id="sidebar_color_3"><label for="sidebar_color_3"></label></span> <span><input type="radio" name="sidebar_bg" value="color_4" class="filled-in chk-col-primary" id="sidebar_color_4"><label for="sidebar_color_4"></label></span> <span><input type="radio" name="sidebar_bg" value="color_5" class="filled-in chk-col-primary" id="sidebar_color_5"><label for="sidebar_color_5"></label></span> <span><input type="radio" name="sidebar_bg" value="color_6" class="filled-in chk-col-primary" id="sidebar_color_6"><label for="sidebar_color_6"></label></span> <span><input type="radio" name="sidebar_bg" value="color_7" class="filled-in chk-col-primary" id="sidebar_color_7"><label for="sidebar_color_7"></label></span> <span><input type="radio" name="sidebar_bg" value="color_8" class="filled-in chk-col-primary" id="sidebar_color_8"><label for="sidebar_color_8"></label></span> <span><input type="radio" name="sidebar_bg" value="color_9" class="filled-in chk-col-primary" id="sidebar_color_9"><label for="sidebar_color_9"></label></span> <span><input type="radio" name="sidebar_bg" value="color_10" class="filled-in chk-col-primary" id="sidebar_color_10"><label for="sidebar_color_10"></label></span> <span><input type="radio" name="sidebar_bg" value="color_11" class="filled-in chk-col-primary" id="sidebar_color_11"><label for="sidebar_color_11"></label></span> <span><input type="radio" name="sidebar_bg" value="color_12" class="filled-in chk-col-primary" id="sidebar_color_12"><label for="sidebar_color_12"></label></span> <span><input type="radio" name="sidebar_bg" value="color_13" class="filled-in chk-col-primary" id="sidebar_color_13"><label for="sidebar_color_13"></label></span> <span><input type="radio" name="sidebar_bg" value="color_14" class="filled-in chk-col-primary" id="sidebar_color_14"><label for="sidebar_color_14"></label></span> <span><input type="radio" name="sidebar_bg" value="color_15" class="filled-in chk-col-primary" id="sidebar_color_15"><label for="sidebar_color_15"></label></span></div></div></div></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 571px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 277px;"></div></div></div></div>
	

</body>
</html>